<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Giaodiendieukhien.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Giaodiendieukhien.Properties.Settings.GATTHAN_DATAConnectionString"
            connectionString="Data Source=DESKTOP-8Q4VA9P\SQLEXPRESS;Initial Catalog=GATTHAN_DATA;Persist Security Info=True;User ID=sa;Password=123456;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Giaodiendieukhien.Properties.Settings>
            <setting name="IP_PLC" serializeAs="String">
                <value />
            </setting>
            <setting name="PLC_Type" serializeAs="String">
                <value />
            </setting>
            <setting name="PLC_Scantime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PLC_Timeout" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PLC_Reconnect_Time" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Data_ServerName" serializeAs="String">
                <value>.\SQLEXPRESS</value>
            </setting>
            <setting name="Data_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Data_LoginUser" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="Data_Password" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="StartAutoTime_C1" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="StartAutoTime_C2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StopAutoTime_C1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StopAutoTime_C2" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="StartManTime_C1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartManTime_C2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StopManTime_C1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StopManTime_C2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Stepmotor01_Thuan_Position" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Stepmotor01_Nghich_Position" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Stepmotor02_Thuan_Position" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Stepmotor02_Nghich_Position" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Stepmotor01_Speed" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Stepmotor02_Speed" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Loadcell1_Max" serializeAs="String">
                <value>999</value>
            </setting>
            <setting name="Loadcell2_Max" serializeAs="String">
                <value>999</value>
            </setting>
            <setting name="Loadcell1_AutoZeroingTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Loadcell2_AutoZeroingTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Loadcell1_AutoZeroingWeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Loadcell2_AutoZeroingWeight" serializeAs="String">
                <value>0</value>
            </setting>
        </Giaodiendieukhien.Properties.Settings>
    </userSettings>
</configuration>